@charset "UTF-8";

body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(72, 72, 231);
}
#principal {
    text-align: center;
    background-color: rgb(72, 72, 231);
    color: white;
}

h2 {
    color: rgb(15, 88, 88);
}

.basico {
    color: green;
    font-weight: bold;

}

.intermediario {
    color: blue;

}

.avancado {
    color: yellow;

}